{% extends 'base.html' %}
{% block title %}IT资源共享网-更新最快的IT教程网！{% endblock %}
{% load staticfiles %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index-style.css' %}">
{% endblock %}
{% block content %}


    <div class="shilei">
        <div class="fl slide">
            <div class="imgslide">
                <ul class="imgs">

                    {% for all_course in all_courses %}
                        <li><a href=""><img width="403" height="305" src="{{ all_course.image.url }}"/></a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        <div style="display: inline-block;width: 58%;height: 10%;padding-left: 10px;padding-right: 3px;background-color: #717171;">
            <span style="font-size: 20px; color: white;line-height: 31px">最新资源</span>

        </div>
        <div style="display: inline-block; width: 58%;height:90%;padding-left: 10px;padding-right: 3px;background-color: #FFFFFF">

            <ul>
                <li class="shilei_li"><a href="{% url 'course:detail' all_course1.id %}">{{ all_course1.name }} </a>
                    <span
                            style="float: right;font-size: 15px">{{ all_course1.course_org.name }}</span></li>
                <li class="shilei_li"><a href="{% url 'course:detail' all_course2.id %}">{{ all_course2.name }} </a>
                    <span
                            style="float: right;font-size: 15px">{{ all_course2.course_org.name }}</span></li>
                <li class="shilei_li"><a href="{% url 'course:detail' all_course3.id %}">{{ all_course3.name }} </a>
                    <span
                            style="float: right;font-size: 15px">{{ all_course3.course_org.name }}</span></li>
                <li class="shilei_li"><a href="{% url 'course:detail' all_course4.id %}">{{ all_course4.name }}</a>
                    <span
                            style="float: right;font-size: 15px">{{ all_course4.course_org.name }}</span></li>
                <li class="shilei_li"><a href="{% url 'course:detail' all_course5.id %}">{{ all_course5.name }}</a>
                    <span
                            style="float: right;font-size: 15px">{{ all_course5.course_org.name }}</span></li>
                <li class="shilei_li"><a href="{% url 'course:detail' all_course6.id %}">{{ all_course6.name }}</a>
                    <span
                            style="float: right;font-size: 15px">{{ all_course6.course_org.name }}</span></li>
                <li class="shilei_li"><a href="{% url 'course:detail' all_course7.id %}">{{ all_course7.name }}</a>
                    <span
                            style="float: right;font-size: 15px">{{ all_course7.course_org.name }}</span></li>
                <li class="shilei_li"><a href="{% url 'course:detail' all_course8.id %}">{{ all_course8.name }}</a>
                    <span
                            style="float: right;font-size: 15px">{{ all_course8.course_org.name }}</span></li>
                <li class="shilei_li"><a href="{% url 'course:detail' all_course9.id %}">{{ all_course9.name }}</a>
                    <span
                            style="float: right;font-size: 15px">{{ all_course9.course_org.name }}</span></li>


            </ul>
        </div>


    </div>
    <div class="yuyan_title">
        <div style="display:inline-block;line-height: 31px;font-size: 20px;color: #666666">
            公告:
        </div>

        <div class="merquee" style="display:inline-block;width: 30%;line-height: 31px">

            <span class="merquee-txt">
                {% for all_vip in all_vips %}

                    感谢 {{ all_vip.username }} 赞助本站并获得
                    {% if all_vip.is_VIP is  True %}
                        永久
                    {% elif all_vip.is_nian_VIP is True %}
                        年费

                    {% endif %}
                    vip！
                    <img src="{% static  'images/new.gif' %}" style="width: 28px;height: 11px">&nbsp;&nbsp;

                {% endfor %}

            </span>
        </div>
    </div>
    <div class="index_title">
        <table>
            <tbody>
            <tr>
                <td class="index_title_td">
                    <div class="index_title1">
                        <a target="_blank" href="{% url 'courses:list' %}">
                            <img class="index_title_image" src="{% static 'images/gengxin.png' %}">
                        </a>
                        <dl class="index_dl">

                            <dd class="index_dd"><h1 class="index_h1">每日更新</h1></dd>
                            <dd class="index_dd"><h1 class="index_h1">最新教程</h1></dd>
                        </dl>
                    </div>

                </td>
                <td class="index_title_td">
                    <div class="index_title2">
                        <a target="_blank" href="{% url 'org:add_ask' %}">
                            <img class="index_title_image" src="{% static 'images/fankui.png' %}">
                        </a>

                        <dl class="index_dl">

                            <dd class="index_dd"><h1 class="index_h1">问题反馈</h1></dd>
                            <dd class="index_dd"><h1 class="index_h2">我们及时解决</h1></dd>


                        </dl>
                    </div>
                </td>
                <td class="index_title_td">
                    <div class="index_title3">
                        <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2257565838&menu=yes">
                            <img class="index_title_image" src="{% static 'images/qq.png' %}">
                        </a>
                        <dl class="index_dl">

                            <dd class="index_dd"><h1 class="index_h1">QQ在线</h1></dd>
                            <dd class="index_dd"><h1 class="index_h2">点击图标-问题随时解答</h1></dd>


                        </dl>
                    </div>
                </td>
                <td class="index_title_td">
                    <div class="index_title4">
                        <div>
                            <a target="_blank" href="{% url 'org:home' web.id %}">
                                <img class="index_title_image" src="{% static 'images/dianzishu.png' %}">
                            </a>
                            <dl class="index_dl">

                                <dd class="index_dd"><h1 class="index_h1">电子书</h1></dd>
                                <dd class="index_dd"><h1 class="index_h2">海量电子书下载</h1></dd>


                            </dl>
                        </div>


                    </div>
                </td>
            </tr>
            </tbody>
        </table>


    </div>

    <div class="yuyan_title">
        <h4>编程开发</h4>

    </div>


    <div class="index-content">

        <table cellspacing="0" cellpadding="0" class="index_table" border="0">
            <tbody>
            <tr class="foot_tr">
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' web.id %}">
                            <img class="img_icon" src="{{ web.image.url }}" align="left">
                        </a>


                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' web.id %}" class="title_name">{{ web.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ web.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' web.id %}">学习人数：
                                <span title="">{{ web.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' java.id %}">
                            <img class="img_icon" src="{{ java.image.url }}" align="left">

                        </a>

                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' java.id %}"
                               class="title_name">{{ java.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ java.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' java.id %}">学习人数：
                                <span title="">{{ java.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' python.id %}">
                            <img class="img_icon" src="{{ python.image.url }}" align="left">
                        </a>

                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' python.id %}"
                               class="title_name">{{ python.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ python.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' python.id %}">学习人数：
                                <span title="">{{ python.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' php.id %}">
                            <img class="img_icon" src="{{ php.image.url }}" align="left">
                        </a>


                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' php.id %}" class="title_name">{{ php.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ php.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' php.id %}">学习人数：
                                <span title="">{{ php.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
            </tr>
            <tr>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' bigdata.id %}">
                            <img class="img_icon" src="{{ bigdata.image.url }}" align="left">
                        </a>


                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' bigdata.id %}"
                               class="title_name">{{ bigdata.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ bigdata.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' bigdata.id %}">学习人数：
                                <span title="">{{ bigdata.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' mstudy.id %}">
                            <img class="img_icon" src="{{ mstudy.image.url }}" align="left">
                        </a>


                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' mstudy.id %}"
                               class="title_name">{{ mstudy.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ mstudy.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' mstudy.id %}">学习人数：
                                <span title="">{{ mstudy.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' ios.id %}">
                            <img class="img_icon" src="{{ ios.image.url }}" align="left">
                        </a>


                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' ios.id %}" class="title_name">{{ ios.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ ios.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' ios.id %}">学习人数：
                                <span title="">{{ ios.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' android.id %}">
                            <img class="img_icon" src="{{ android.image.url }}" align="left">
                        </a>


                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' android.id %}"
                               class="title_name">{{ android.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ android.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' android.id %}">学习人数：
                                <span title="">{{ android.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
            </tr>
            <tr>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' wechat.id %}">
                            <img class="img_icon" src="{{ wechat.image.url }}" align="left">
                        </a>


                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' wechat.id %}"
                               class="title_name">{{ wechat.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ wechat.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' wechat.id %}">学习人数：
                                <span title="">{{ wechat.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' c.id %}">
                            <img class="img_icon" src="{{ c.image.url }}" align="left">
                        </a>


                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' c.id %}" class="title_name">{{ c.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ c.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' c.id %}">学习人数：
                                <span title="">{{ c.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' net.id %}">
                            <img class="img_icon" src="{{ net.image.url }}" align="left">
                        </a>


                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' net.id %}" class="title_name">{{ net.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ net.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' net.id %}">学习人数：
                                <span title="">{{ net.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' suanfa.id %}">
                            <img class="img_icon" src="{{ suanfa.image.url }}" align="left">
                        </a>


                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' suanfa.id %}"
                               class="title_name">{{ suanfa.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ suanfa.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' suanfa.id %}">学习人数：
                                <span title="">{{ suanfa.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
            </tr>
            <tr>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' database.id %}">
                            <img class="img_icon" src="{{ database.image.url }}" align="left">
                        </a>


                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' database.id %}"
                               class="title_name">{{ database.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ database.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' database.id %}">学习人数：
                                <span title="">{{ database.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' xitong.id %}">
                            <img class="img_icon" src="{{ xitong.image.url }}" align="left">
                        </a>


                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' xitong.id %}"
                               class="title_name">{{ xitong.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ xitong.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' xitong.id %}">学习人数：
                                <span title="">{{ xitong.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' heike.id %}">
                            <img class="img_icon" src="{{ heike.image.url }}" align="left">
                        </a>


                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' heike.id %}"
                               class="title_name">{{ heike.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ heike.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' heike.id %}">学习人数：
                                <span title="">{{ heike.click_nums }}&nbsp;人</span></a>
                        </dd>
                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' morelangue.id %}">


                            <img class="img_icon" src="{{ morelangue.image.url }}" align="left">
                        </a>

                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' morelangue.id %}"
                               class="title_name">{{ morelangue.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ morelangue.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' morelangue.id %}">学习人数：
                                <span title="">{{ morelangue.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="yuyan_title">
        <h4>设计与影音</h4>

    </div>
    <div class="index-content">

        <table cellspacing="0" cellpadding="0" class="index_table">
            <tbody>
            <tr>
                <td class="fl_g" width="24.9%">

                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' ps.id %}">

                            <img class="img_icon" src="{{ ps.image.url }}" align="left">
                        </a>

                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' ps.id %}" class="title_name">{{ ps.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ ps.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="#">学习人数：
                                <span title="">{{ ps.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' ui.id %}">
                            <img class="img_icon" src="{{ ui.image.url }}" align="left">
                        </a>
                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' ui.id %}"
                               class="title_name">{{ ui.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ ui.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' ui.id %}">学习人数：
                                <span title="">{{ ui.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>


                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' yingyin.id %}">
                            <img class="img_icon" src="{{ yingyin.image.url }}" align="left">
                        </a>

                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' yingyin.id %}"
                               class="title_name">{{ yingyin.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ yingyin.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' yingyin.id %}">学习人数：
                                <span title="">{{ yingyin.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' other_design.id %}">

                            <img class="img_icon" src="{{ other_design.image.url }}" align="left">
                        </a>
                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' other_design.id %}"
                               class="title_name">{{ other_design.name }}</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ other_design.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' other_design.id %}">学习人数：
                                <span title="">{{ other_design.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
            </tr>

            </tbody>
        </table>


    </div>
    <div class="yuyan_title">
        <h4>交流讨论</h4>
    </div>

    <div class="index-content">

        <table cellspacing="0" cellpadding="0" class="index_table">
            <tbody>
            <tr>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">

                        <img class="img_icon" src="{% static 'images/common_2_icon.png' %}" align="left">

                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'op:share' %}" class="title_name">一起分享</a>
                        </dt>
                        <em>已分享数:&nbsp;&nbsp;197</em>

                        <dd>
                            <a target="_blank" href="#">参与人数：
                                <span title="">341&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">

                        <img class="img_icon" src="{% static 'images/common_48_icon.png' %}" align="left">

                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'notice' %}" class="title_name">网站公告</a>
                        </dt>
                        <em></em>

                        <dd>
                            <a target="_blank" href="#">观看人数：
                                <span title="">1534&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <a target="_blank" href="{% url 'org:home' ebook.id %}">

                        </a>
                        <img class="img_icon" src="{{ ebook.image.url }}" align="left">

                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:home' ebook.id %}" class="title_name">电子书</a>
                        </dt>
                        <em>课程数:&nbsp;&nbsp;{{ ebook.course_nums }}</em>

                        <dd>
                            <a target="_blank" href="{% url 'org:home' ebook.id %}">学习人数：
                                <span title="">{{ ebook.click_nums }}&nbsp;人</span></a>
                        </dd>

                    </dl>

                </td>
                <td class="fl_g" width="24.9%">
                    <div class="td_icon">
                        <img class="img_icon" src="{% static 'images/common_49_icon.png' %}" align="left">

                    </div>
                    <dl style="margin-left: 56px">
                        <dt>
                            <a target="_blank" href="{% url 'org:add_ask' %}" class="title_name">反馈和建议</a>
                        </dt>


                    </dl>

                </td>
            </tr>

            </tbody>
        </table>
        <img class="footimg" src="{% static  'images/indexbg.jpg' %}" width="100%" height="auto">

    </div>

{% endblock %}
{% block custom_js %}
    <script src="{% static 'js/login.js' %}" type="text/javascript"></script>
{% endblock %}