{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}年vip开通页面{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vip-style.css' %}">
{% endblock %}

{% block content %}
    <div class="vip-title">
        {#    <img class="vip-title-image" src="{% static 'images/vip_banner_2_0a5bb4e.jpg' %}">#}
        <h2>价值够大，价格够低</h2>
        <p class="desc">在这里，和300多万人一起，养成每天有学习、有进步的习惯，无论你是新入职场，还是在职提升，通过极客学院提供的内容和服务，让职业生涯持续进步，并创造更大价值。</p>

        <div class="contain">
            <ul class="vip-ul">
                <li class="vip-li">
                    <img class="pic" src="{% static 'images/vip_banner_icon_4_2320c7b.png' %}"
                         alt="教程视频">
                    <p class="num">1000+</p>
                    <h3>教程视频</h3>
                </li>

                <li class="vip-li">
                    <img class="pic" src="{% static 'images/vip_banner_icon_9_ac227fd.png' %}"
                         alt="图文教程">
                    <p class="num">8000+</p>
                    <h3>学习用户</h3>
                </li>

                <li class="vip-li">
                    <img class="pic" src="{% static 'images/vip_banner_icon_11_1ca6d7a.png' %}"
                         alt="图文教程">
                    <p class="num">500+</p>
                    <h3>实战视频</h3>
                </li>

                <li class="vip-li">
                    <img class="pic" src="{% static 'images/vip_banner_icon_5_2ab291c.png' %}"
                         alt="图文教程">
                    <p class="num">500+</p>
                    <h3>专业电子书</h3>
                </li>
                <li class="vip-li">
                    <img class="pic" src="{% static 'images/vip_banner_icon_1_38edee1.png' %}"
                         alt="图文教程">
                    <p class="num">10</p>
                    <h3>职业方向</h3>
                </li>
            </ul>

        </div>


    </div>
    <div class="opening-div">
        <p class="opening">支付中心</p>
        <div class="reduce-border-top">

        </div>

        <span class="countor">您正在为账号：{{ request.user.username }}开通年VIP</span>
    </div>
    </div>
    <div class="opening-div">
        <span style="text-align: center;font-size: 16px">邀请码(可以为空):</span> <input type="text"
                                                                                  style="height: 29px;width: 60px;border-radius: 9px;text-align: center;">
    </div>


    <div class="pay">


        <input type="button" autofocus="autofocus" onclick="changeSrc()" value="" class="button1">

        <input type="button" onclick="changeSrc2()" value="" class="button2">
        <div class="pay-image-div">
            <img id="payImage" src="{{ wechat.image.url }}" class="pay-image">
            <p id="msg" class="msg-p">请使用微信扫描二维码支付&nbsp;￥79.00 </p>
            <div class="pay-submit">
                <a href="{% url 'org:submit_vip' %}">
                    <div class="pay-submit-div">提交信息</div>
                </a>
                <span class="pay-submit-msg">支付成功后记得提交信息哟！</span>

            </div>


        </div>
    </div>


{% endblock %}

{% block custom_js %}
    <script>
        function changeSrc() {
            document.getElementById("payImage").src = "{{ wechat.image.url }}";
            document.getElementById("msg").textContent = "请使用微信扫描二维码支付 ￥79.00"
        }
        function changeSrc2() {
            document.getElementById("payImage").src = "{{ alipay.image.url }}";
            document.getElementById("msg").textContent = "请使用支付宝扫描二维码支付 ￥79.00"
        }

    </script>
{% endblock %}