{% extends 'base.html' %}
{% load staticfiles %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vip-style.css' %}">
{% endblock %}
{% block content %}

    <div class="vip-title">
        {#    <img class="vip-title-image" src="{% static 'images/vip_banner_2_0a5bb4e.jpg' %}">#}
        <h2 class="div-h2">征&nbsp;&nbsp;集&nbsp;&nbsp;令</h2>
        <p class="des">如果您有好的视频教程或者电子书资源，可以把资源或者百度云链接发给官方邮箱&nbsp;itjiaocheng@gmail.com。资源审核通过后，管理员会联系您,把您的权限提升。</p>






    </div>


{% endblock %}