{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}vip开通{% endblock %}

{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/vip-style.css' %}">
{% endblock %}
{% block content %}

    <div class="vip-title">
        {#    <img class="vip-title-image" src="{% static 'images/vip_banner_2_0a5bb4e.jpg' %}">#}
        <h2>价值够大，价格够低</h2>
        <p class="desc">在这里，和众多学员一起，养成每天有学习、有进步的习惯，无论你是新入职场，还是在职提升，通过我们提供的内容和服务，让职业生涯持续进步，并创造更大价值。</p>

        <div class="contain">
            <ul class="vip-ul">
                <li class="vip-li">
                    <img class="pic" src="{% static 'images/vip_banner_icon_4_2320c7b.png' %}"
                         alt="教程视频">
                    <p class="num">1000+</p>
                    <h3>教程视频</h3>
                </li>

                <li class="vip-li">
                    <img class="pic" src="{% static 'images/vip_banner_icon_9_ac227fd.png' %}"
                         alt="图文教程">
                    <p class="num">5000+</p>
                    <h3>学习用户</h3>
                </li>

                <li class="vip-li">
                    <img class="pic" src="{% static 'images/vip_banner_icon_11_1ca6d7a.png' %}"
                         alt="图文教程">
                    <p class="num">200+</p>
                    <h3>实战视频</h3>
                </li>

                <li class="vip-li">
                    <img class="pic" src="{% static 'images/vip_banner_icon_5_2ab291c.png' %}"
                         alt="图文教程">
                    <p class="num">100+</p>
                    <h3>专业电子书</h3>
                </li>
                <li class="vip-li">
                    <img class="pic" src="{% static 'images/vip_banner_icon_1_38edee1.png' %}"
                         alt="图文教程">
                    <p class="num">10</p>
                    <h3>职业方向</h3>
                </li>
            </ul>

        </div>


    </div>
    <div class="vip_info">
        <div class="division_title division_title_main">普通用户与全站通VIP的区别</div>
        <table style="margin:auto">
            <tbody>
            <tr class="tr_one">
                <td width="10%">特权对比</td>
                <td width="10%">身份标签</td>
                <td width="25%">全站视频</td>
                <td width="15%">有效期限</td>
                <td width="25%">源码下载</td>
                <td width="15%">价格</td>
            </tr>
            <tr class="bgcolor_white">
                <td>普通会员</td>
                <td>
                    <div class="error"></div>
                </td>
                <td>
                    <div class="error"></div>
                </td>
                <td>
                    <div class="error"></div>
                </td>
                <td>
                    <div class="error"></div>
                </td>
                <td>免费</td>
            </tr>
            <tr class="bgcolor_white">
                <td class="showy2 green">年VIP</td>
                <td class="showy1">
                    <div class="vip vip0"></div>
                </td>
                <td class="showy1" rowspan="2"><p>手机&nbsp;电脑&nbsp;平板下载观看不受限制</p>
                    <p>全站课程观看无任何限制</p></td>
                <td class="showy2 green">365天</td>
                <td>课程源码 &nbsp; 免费下载</td>
                <td>29元</td>
            </tr>
            <tr class="bgcolor_white">
                <td class="showy1 red">永久VIP</td>
                <td class="showy1">
                    <div class="vip vip1"></div>
                </td>
                <td class="red">永久</td>
                <td>课程源码 &nbsp; 免费下载</td>
                <td>59元</td>
            </tr>
            <tr class="bgcolor_white">

                <td>VIP特点</td>
                <td class="showy1" colspan="5" style="background: #F0FFF7;color:red">
                    VIP解锁全部资源-有效期限内，无限制观看,绝不二次收费,视频任意设备播放均不加密!
                </td>
            </tr>
            </tbody>
        </table>
        <div class="open-vip-div">
            <a href="{% url 'org:yvip' %}">
                <div class="open-vip">永久VIP开通</div>
            </a>
            <a href="{% url 'org:nvip' %}">
                <div class="open-vip">年VIP开通</div>
            </a>
        </div>
        <div class="question">常见问题</div>


    </div>
    <div class="questions">
        <p class="questions-p">Q:&nbsp;<span style="color: red">网站资源更新的频率? </span></p>
        <p class="questions-b">A:
            IT发展很快,不断有新技术更新,随之而来的是对应教程的更新,市面上一有优质新资源,我们不惜RMB会很快将其收录,收录的主要有各类最新IT教程包含基础教程,实战课程等基本上每天都会更新资源.</p>

        <p class="questions-p">Q:&nbsp;<span style="color: red">网站视频质量有什么保障? </span></p>
        <p class="questions-b">A:
            质量和效率乃生存发展之根本,我们靠质量发展,资源目前绝大多数为18年19年后的教程,后期只收录19年后的资源.为了您的学习和本站的发展,本站资源都是我们为您挑选最新高质量的教程,视频清晰,资源完整,有问题的影响学习的资源我们不会发布,若有遗漏一旦发现质量问题影响学习可以反馈给我们,我们将问题资源立即删除,不惜代价重新更换没问题资源甚至退款补偿!</p>

        <p class="questions-p">Q:&nbsp; <span style="color: red">链接失效怎么办？</span></p>
        <p class="questions-b">A:
            在链接失效反馈版块反馈(每个资源帖后的必读申明处设有失效反馈链接方便您反馈),一般在五分钟内处理!论坛里所有资源都有备份！</p>

        <p class="questions-p">Q:&nbsp; <span style="color: red">发现资源有问题了怎么办？</span></p>
        <p class="questions-b">A:
            资源虽经严格审核也难保证百分百无疏漏,遇到问题在问题/反馈板块发帖反馈(每个资源帖的必读申明处设有问题反馈链接方便您反馈),通常十分钟内给会回复!</p>

        <p class="questions-p">Q:&nbsp; <span style="color: red">有问题?想咨询怎么办?</span></p>
        <p class="questions-b">A:
            ①有任何疑问可以在问题/反馈版块发帖.<br>
            &nbsp;&nbsp;&nbsp;&nbsp;②点击本站最右侧中间有个QQ
            图标,点它(QQ可随时联系).<br>

            &nbsp;&nbsp;&nbsp;&nbsp;③可发邮件到官方邮箱：itjiaocheng@gmail.com有任何问题随时欢迎咨询!</p>


    </div>





{% endblock %}
{% block custom_js %}
    <script>
        var shareUrl = '',
            shareText = '',
            shareDesc = '',
            shareComment = '';
        $(function () {
            $(".bdsharebuttonbox a").mouseover(function () {
                var type = $(this).attr('data-cmd'),
                    $parent = $(this).parent('.bdsharebuttonbox'),
                    fxurl = $parent.attr('data-url'),
                    fxtext = $parent.attr('data-text'),
                    fxdesc = $parent.attr('data-desc'),
                    fxcomment = $parent.attr('data-comment');
                switch (type) {
                    case 'tsina':
                    case 'tqq':
                    case 'renren':
                        shareUrl = fxurl;
                        shareText = fxdesc;
                        shareDesc = '';
                        shareComment = '';
                        break;
                    default :
                        shareUrl = fxurl;
                        shareText = fxtext;
                        shareDesc = fxdesc;
                        shareComment = fxcomment;
                        break;
                }
            });
        });
        function SetShareUrl(cmd, config) {
            if (shareUrl) {
                config.bdUrl = "{{ SITE_URL }}" + shareUrl;
            }
            if (shareText) {
                config.bdText = shareText;
            }
            if (shareDesc) {
                config.bdDesc = shareDesc;
            }
            if (shareComment) {
                config.bdComment = shareComment;
            }

            return config;
        }
        window._bd_share_config = {
            "common": {
                "onBeforeClick": SetShareUrl,
                "bdMini": "2",
                "searchPic": "1",
                "bdMiniList": false
            },
            "share": {
                "bdSize": "16"
            }
        };
        with (document)0[(getElementsByTagName('head')[0] || body).appendChild(createElement('script')).src = 'http://bdimg.share.baidu.com/static/api/js/share.js?cdnversion=' + ~(-new Date() / 36e5)];


    </script>

{% endblock %}





